/* General Styles */
body {
    margin: 0px;
    background-color: #f5f5f5;
}

p.nav {
    margin: 10px;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 17px;
} 

/* Nav Styles */
nav {
    margin: 0px;
    background-color: #677D6A;
    border-radius: 0px; 
    justify-content: space-between;
    display: flex; 
}

nav p, nav a {}

nav a {}

nav a:hover {}

/* Footer Styles */
footer {
    margin: 0px;
    padding: 4px;
    background-color: #677D6A;
    display: flex;
    justify-content: center;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
}

footer a {}

footer a:hover {}

/* Splash Section */
.splash {
    margin: 20px;
}

.splash h1 {
    color: #000000;
    display: flex;
    justify-content: center;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
}

.splash img {
    margin-left: 650px;
    border-radius: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.splash p {
    display: flex;
    justify-content: center;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.splash .p1 {
    display: flex;
    justify-content: center;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
}

/* Horizontal Rules */
hr {
    border-top: 4px solid #677D6A;
    border-radius: 15px;
}

/* Sections */
section {
    margin: 20px;
    margin-left: 40px;
    
}

/* Section Headings */
section h2 {
    color: #000000;
    font-family: "STIX Two Text", serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
}

/* Paragraph Styles */
section p {}

/* link styles */
section a {}
section a:hover {}

/* List Styles */
ul {}

dl {}
dl dt{}
dl dd{}

/* Project Section */
.three-col {}

.card {}

.card img {}

.card h3 {}

/* Contact Page Styles */
.one-col {}

form {}

form input, form textarea {}

form input:focus, form textarea:focus {}

form button {}

form button:hover {}
